#memory
%br
#stack
%br
%br
%button#tip.btn.btn-info{"data-placement" => "left", "data-toggle" => "tooltip", title: "Appears based on number of submissions", type: "button"}
	Hints
%br/
%br/
%br/
%br/
= render partial: "hints/give"
%br/
%br/
%button#tip.btn.btn-info{"data-placement" => "left", "data-toggle" => "tooltip", title: "Appears based on the time counter", type: "button"}
	Tips
%br/
%br/
= render partial: "tips/give"