.announcement {
	width:100% !important;
	background-color:white;
	padding-bottom: 5%;
	font-size: 0.8em;
}
.announcement img{
	width: 100% !important;
	max-height: 100% !important;
	cursor:pointer
}
.announcement textarea{
	width: 100% !important;
}
.announcement input{
	margin: 0px 4px;
}
.announcement h2{
	font-size: 1.7em;
}
.announcement .box {
	border-bottom: 1px solid #1a5f63 !important;
	padding-bottom: 1%;
}
.announcement #textarea_new{
	min-height: 100px;
}
/* details */
	.announcement font {
		font-size: 0.9em;
	}

@media (max-width: 767px) {
	.announcement font {
		font-size: 0.7em;
	}

	.announcement #textarea_new{
		min-height: 50px;
	}
}