<% @type = "" %>
<% @controller = params[:controller] %>
<% if @controller == "problems" %>
	<% @type = "Problem" %>
<% elsif @controller == "cproblems" %>
	<% @type = "Cproblem" %>
	<div hidden id = "contest_id"><%= @contest.id %></div>
<% else %>
	<% @type = "AssignmentProblem" %>
<% end %>

<%= render partial: "solutions/control_bar" %>
<div class="a4">
	<%= render partial: "solutions/editor" %>
</div>